div{

    border: 1px solid black;
}

.grande{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: end;

}

.grande pequeno{
    width: 100px;
    height: 200px;
    
}
.baixo{
   margin: 250px;

}